#########################
### NEED TO CONFIGURE ###
#########################

# Configure LLM
# OPENAI
OPENAI_API_KEY="your-open-ai-api-key"
OPENAI_CHAT_MODEL="gpt-4.1"
OPENAI_EMBEDDING_MODEL="text-embedding-3-small"
OPENAI_EMBEDDING_DIMENSION=1536

#Auth
JWT_SIGNING_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

####################################
### Slack or Teams any of these  ###
### two medium is required       ###
####################################
#Slack
SLACK_APP_TOKEN="xapp-x-xxxxxxxxx-xxxxxxx-xxxxxxxxxxx"
SLACK_SIGNING_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxx"

#Teamsbot
# Endpoint where the teams bot receives payload
MICROSOFT_TEAMSBOT_URL=https://example.com/teams
MICROSOFT_TEAMS_APP_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
MICROSOFT_APP_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
MICROSOFT_APP_TENANT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
MICROSOFT_APP_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

######################################################
### (Optional) - Invite only                       ###
### Used for blocking public signups               ###
### Default true to allow public signups set false ###
######################################################
INVITE_ONLY="true"

####################################################
### (Optional) - SMTP connection                 ###
### Needed for email verification and invitation ###
### smtp://username:password@domain:port         ###
####################################################
SMTP_CONNECTION_URL=""

####################################
### (Optional) - Hashicorp Vault ###
### Only needed if you use vault ###
### If not, you can leave it     ###
####################################
HASHICORP_VAULT_ROOT_TOKEN=""
HASHICORP_VAULT_UNSEAL_TOKEN=""

#####################################
## (Optional) - Langfuse           ##
## Only needed if you use Langfuse ##
## If not, you can leave it        ##
#####################################
LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_HOST=""

##############
### Common ###
##############

# This variable tells docker what is the "default" profile.
# Source: https://stackoverflow.com/questions/75758174/how-to-make-profile-default-for-docker-compose
COMPOSE_PROFILES=app

DATA_DIR=./data/dev
CONFIG_DIR=./config

ENCRYPTION_SALT=1f1a1c11111e1111
METADATA_ENCRYPTION_KEY=1c1b1a11-11af-1c1c-1f1d-1e1a1df1c1b1

# Secret manager type. alternative: file, gcp, azure
SECRET_MANAGER_TYPE=file

# Azure credentials for key vault. Set only if SECRET_MANAGER_TYPE=azure otherwise the envs will be ignored
AZURE_KEY_VAULT_URL=https://<keyvault_name>.azure.net/
AZURE_CLIENT_ID=<key_vault_secret_officer_role_permitted_app_registration_client_id>
AZURE_TENANT_ID=<key_vault_secret_officer_role_permitted_app_registration_tenant_id>
AZURE_CLIENT_SECRET=<key_vault_secret_officer_role_permitted_app_registration_client_secret>

# in case of file/vault secret manager, we must specify the directory
SECRET_MANAGER_DIRECTORY=/secrets

# Knowledge base snapshots directory
SNAPSHOTS_DIRECTORY=/snapshots

# uploaded image directory
IMAGE_UPLOAD_DATA_DIRECTORY=/uploads

##############
### Infra ###
##############

# MongoDB
MONGO_INITDB_ROOT_PASSWORD=1234
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_PORT=27017
MONGO_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongo:${MONGO_PORT}/aster-db?authSource=admin

# ChromaDB
CHROMA_PORT=8000
CHROMA_HOST=http://chroma:${CHROMA_PORT}
CHROMA_SERVER_AUTHN_CREDENTIALS=secret-token
CHROMA_SERVER_AUTHN_PROVIDER=chromadb.auth.token_authn.TokenAuthenticationServerProvider
CHROMA_AUTH_TOKEN_TRANSPORT_HEADER=X-Chroma-Token

# Envoy
ENVOY_PORT=7513
ENVOY_URL=http://envoy:${ENVOY_PORT}

################
### Services ###
################

# API
API_PORT=3000
API_URL=http://api:${API_PORT}

# Data processor
DATA_PROCESSOR_PORT=3002
DATA_PROCESSOR_URL=http://data-processor:${DATA_PROCESSOR_PORT}

# Doc indexer
DOC_INDEXER_PORT=3005
DOC_INDEXER_URL=http://doc-indexer:${DOC_INDEXER_PORT}

# Slackbot
SLACKBOT_PORT=3003

# Dashboard
DASHBOARD_PORT=5173
DASHBOARD_APP_URL=http://localhost:${DASHBOARD_PORT}
DASHBOARD_API_URL=http://localhost:${API_PORT}

# Chatwoot
CHATWOOT_EMAIL_PREFIX=""
CHATWOOT_WEBTOKEN=""
CHATWOOT_KEY=""

# Log parser
LOG_PARSER_PORT=3004
LOG_PARSER_URL=http://log-parser:${LOG_PARSER_PORT}

# Teamsbot
MICROSOFT_APP_TYPE=MultiTenant
MICROSOFT_APP_REDIRECT_URI=${DASHBOARD_APP_URL}/callback/teams
MICROSOFT_APP_SCOPE="User.Read.All Directory.ReadWrite.All offline_access TeamsAppInstallation.ReadWriteForUser Team.ReadBasic.All Channel.ReadBasic.All ChannelMessage.Read.All"
MICROSOFT_TEAMS_BOT_PORT=3006