##############################################################
###                                                        ### 
###  Override any env variable for local development here  ###
###                                                        ###
##############################################################

PORT=3003
NODE_ENV=development
API_URL=http://localhost:7513/api


# MongoDB
MONGO_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@localhost:27017/aster-db?authSource=admin

# Secret manager
SECRET_MANAGER_TYPE=file
SECRET_MANAGER_DIRECTORY=../../data/dev/secrets