##############################################################
###                                                        ### 
###  Override any env variable for local development here  ###
###                                                        ###
##############################################################

NODE_ENV="development"
VITE_MOCK_API_CALLS="false"
VITE_API_SERVER_URL="http://localhost:3000"
VITE_CHATWOOT_EMAIL_PREFIX=""
VITE_CHATWOOT_WEBTOKEN="xxxxxxxxxxxxxxxxxxxxx"
VITE_CHATWOOT_KEY="xxxxxxxxxxxxxxxxxxxxxxxxx"
VITE_MICROSOFT_TEAMS_APP_ID=""