##############################################################
###                                                        ### 
###  Override any env variable for local development here  ###
###                                                        ###
##############################################################

# Dashboard
DASHBOARD_APP_URL=http://localhost:5173

# API
API_URL=http://localhost:7513/api

# MongoDB
MONGO_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@localhost:27017/aster-db?authSource=admin

# Microsoft
MICROSOFT_APP_REDIRECT_URI=${DASHBOARD_APP_URL}/callback/teams