##############################################################
###                                                        ### 
###  Override any env variable for local development here  ###
###                                                        ###
##############################################################

NODE_ENV=development

# SERVICES
SECRET_MANAGER_DIRECTORY=../../data/dev/secrets
IMAGE_UPLOAD_DATA_DIRECTORY=../../data/dev/uploads
DASHBOARD_API_URL=http://localhost:3000
HASHICORP_VAULT_URL=http://localhost:8202
DASHBOARD_APP_URL=http://localhost:5173
CHROMA_HOST="http://localhost:8000"
CHROMA_API_KEY=${CHROMA_SERVER_AUTHN_CREDENTIALS}
DATA_PROCESSOR_URL=http://localhost:7513/data-processor
LOG_PARSER_URL=http://localhost:7513/log-parser
MONGO_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@localhost:27017/aster-db?authSource=admin

# TEAMSBOT
MICROSOFT_TEAMSBOT_URL=https://<subdomain>.ngrok-free.app
MICROSOFT_TEAMS_SUBSCRIPTION_RENEW_DISABLED=true
MICROSOFT_APP_REDIRECT_URI=${DASHBOARD_APP_URL}/callback/teams
MICROSOFT_APP_SCOPE="User.Read.All Directory.ReadWrite.All offline_access TeamsAppInstallation.ReadWriteForUser Team.ReadBasic.All Channel.ReadBasic.All ChannelMessage.Read.All"