##############################################################
###                                                        ### 
###  Override any env variable for local development here  ###
###                                                        ###
##############################################################

SECRET_MANAGER_TYPE=file
SECRET_MANAGER_DIRECTORY=../../data/dev/secrets
SNAPSHOTS_DIRECTORY=../../data/dev/snapshots
DOC_INDEXER_URL=http://localhost:3005
HASHICORP_VAULT_URL=http://localhost:8202
MONGO_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@localhost:27017/aster-db?authSource=admin